<div class="panel">
    <h3>Job Filter</h3>
    <div class="row">
        <div class="large-12 columns">
            <label>
                <span for="job-title">Category</span>
                <select-categories on-change-callback="{{ onChangeCategory }}" default-text="All"></select-categories>
            </label>
        </div>
    </div>
</div>

<div class="panel">
    <h3>Job List</h3>
    <div class="row">
        <div class="large-12 columns">
            <table width="100%" class="responsive">
                <thead>
                    <tr>
                        <th width="45%">Company Name</th>
                        <th width="25%">Job Title</th>
                        <th width="15%">Salary</th>
                        <th width="15%">Post At</th>
                    </tr>
                </thead>
                <tbody v-repeat="informs">
                        <td>{{ company_name }}</td>
                        <td>{{ job_title }}</td>
                        <td>{{ min_salary }} ~ {{ max_salary }}</td>
                        <td>{{ created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <button class="button left" v-class="disabled: !hasPreviousPage" v-on="click: switchPage('previous')">Previous</button>
    </div>
    <div class="large-6 columns ">
        <button class="button right" v-class="disabled: !hasNextPage" v-on="click: switchPage('next')">Next</button>
    </div>
</div>

