.container {
    margin-top: 30px;

    .row {
        &.full-width {
            max-width: 95%
        }
    }
}

.fade-transition {
    transition: all .2s ease-in-out;
    opacity: 1;
}

.fade-enter, .fade-leave {
    opacity: 0;
}

.bounce-enter {
    animation: bounceIn .2s;
}
.bounce-leave {
    animation: bounceOut .2s;
}
