<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a v-link="/">Rowky</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="javascript:void(0)"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li>
                    <a v-link="/">Home</a>
                </li>
                <li>
                    <a v-link="/inform">Inform</a>
                </li>
                <li class="has-dropdown">
                    <a href="javascript:void(0)">Category</a>
                    <ul class="dropdown">
                        <li><a v-link="/c/design">Design</a></li>
                        <li><a v-link="/c/program">Program</a></li>
                        <li><a v-link="/c/marketing">Market</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="right">
                <li><a v-link="#">About</a></li>
            </ul>
        </section>
    </nav>
</div>

<div class="container">
    <div class="row full-width">
        <router-view></router-view>
    </div>
</div>
