.text-muted {
    color: #777;
}

.text-info {
    color: #31708f;
}

.text-small {
    font-size: 14px;
}

.top-bottom-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.location {
    font-size: 16px;
}
